{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'comment_add' %}">Add comment</a></li>
{% endblock %}

{% block content %}
    <h1>Comments:</h1>
    <hr/>
    {% for comment in comments%}
        <p>{{ comment.text }}</p>
            <p>Created by {{ comment.author }} at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
        <p><a href="{% url 'article_view' comment.article.pk %}" >{{ comment.article }}</a></p>
        <p>
            <a href="{% url 'comment_update' comment.pk %}">Edit</a>
            <a href="{% url "comment_delete" comment.pk %}">Delete</a>
        </p>
        <hr/>
    {% endfor %}
{% endblock %}
